@model Product

<div style="padding:20px;">
    <p>ÜRÜN ADI : @Model.ProductName</p>
    <p>AÇIKLAMA : @Model.ProductDescription</p>
    <p>FİYAT : @Model.Price</p>
</div>

<a asp-controller="Product" asp-action="GetProducts">Listeye Dön</a>